img{
    width: 100%;
}

#unis{
    width: 20%;
}

#uni{
    width: 10%;
}

body{
    width: 100%;
    background-color: rgba(217, 243, 213, 0.561);
}
h1{
    width: 100%;
}

#centro{
    width: 100%;
}